<div class="bg-white shadow-md rounded p-4 mb-4">
    <div *ngFor="let param of parameters" class="mb-4">
        <ng-container [ngSwitch]="param.type">
            <input *ngSwitchCase="'text'" type="text"
                (input)="handleParamChange(param.name, ($event.target as HTMLInputElement).value)"
                [(ngModel)]="paramValues[param.name]" />
            
            <input *ngSwitchCase="'number'" type="number"
                (input)="handleParamChange(param.name, ($event.target as HTMLInputElement).value)"
                [(ngModel)]="paramValues[param.name]" />
            
            <input *ngSwitchCase="'date'" type="date"
                (change)="handleParamChange(param.name, ($event.target as HTMLInputElement).value)"
                [(ngModel)]="paramValues[param.name]" />
            
            <select *ngSwitchCase="'select'"
                (change)="handleParamChange(param.name, ($event.target as HTMLSelectElement).value)"
                [(ngModel)]="paramValues[param.name]">
                <option *ngFor="let option of param.options" [value]="option.value">
                    {{option.label}}
                </option>
            </select>
            
            <input *ngSwitchCase="'checkbox'" type="checkbox"
                (change)="handleParamChange(param.name, ($event.target as HTMLInputElement).checked)"
                [(ngModel)]="paramValues[param.name]" />
        </ng-container>
    </div>
</div>