<table class="w-full border-collapse border border-gray-300">
    <thead *ngIf="tableElement.showHeader">
        <tr>
            <th *ngFor="let column of tableElement.columns" class="border border-gray-300 p-2 cursor-pointer"
                [ngStyle]="getHeaderStyle(column)" (click)="sortByColumn(column)">
                {{ column.header }}
                <span *ngIf="sortColumn === column.field" class="ml-1">
                    {{ sortDirection === 'asc' ? '▲' : '▼' }}
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of sortedData; let i = index" [ngClass]="getRowClass(i)">
            <td *ngFor="let column of tableElement.columns" class="border border-gray-300 p-2"
                [ngStyle]="getCellStyle(column)"
                [innerHTML]="highlightSearchTerm(formatValue(row[column.field], column.format || '')) | safeHtml"></td>
        </tr>
        <tr *ngIf="!tableData || tableData.length === 0">
            <td [attr.colspan]="tableElement.columns.length"
                class="border border-gray-300 p-4 text-center text-gray-500">
                Nenhum registro encontrado
            </td>
        </tr>
    </tbody>
</table>